/* Using Semantic-UI */
/* So we do not need all of the CSS on this file :) */
.page-title{
    box-sizing: border-box !important;
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container {
    width: 400px;
    margin: 0 auto;
}

.sideLink {
    display: flex;
    float: right;
    flex-direction: column;
}